.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: none;
  color: white;
  padding: 90px 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 10px;
  border-radius: 5px;
  background-color: gray;
}

h2{
  font-size: 1000%;
}

input{
  text-decoration: none;
}

#list {
  padding-left: 10em;
  text-align: left;
  margin-right: auto;
  height: 200px;
  overflow: scroll;
}

#input{
  padding-top: 3em;
  display: inline-flex;
  padding-inline-end: 3em;
}

.democlass{
  color: red;
}